---
---

@import "{{ site.theme }}";

.page-header {
    background-image: url("../banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.project-name,
.project-tagline {
  color: white;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    color: #6B0D45;
}

a {
  color: #6B0D45;
}

a:hover {
  color: #8A3C68;
}

.btn {
  color: rgba(255,255,255,.9);
  border-color: rgba(255,255,255,.3);
}

.btn:hover {
  background-color: rgba(255,255,255,.15);
}
